@font-face {
  font-family: "Buyan";
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/Buyan-Regular.woff2');
}

@font-face {
  font-family: "Onest";
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/Onest-Regular.woff2');
}
@font-face {
  font-family: "Onest";
  font-weight: 500;
  font-style: normal;
  src: url('../../fonts/Onest-Medium.woff2');
}
@font-face {
  font-family: "Onest";
  font-weight: 700;
  font-style: normal;
  src: url('../../fonts/Onest-Bold.woff2');
}
@font-face {
  font-family: "SignPainter-HouseScript";
  font-style: normal;
  src: url('../../fonts/SignPainter-HouseScript.woff2');
}
