html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  outline: none;
}

a[class]{
  text-decoration: none;
  color: inherit;
}

ul[class]{
  list-style: none;
}

img{
  display: block;
  object-fit: cover;
  max-width: 100%;
}

body{
  color: $default;
  @extend %roboto-300;
  font-size: 17px;
  line-height: 1.45;
}
