
$accent: #77bb63;
$shadow: inset 0px 0px 2px 1px rgb(255 255 255 / 6%);

%buyan-400 {
  font-family: "Buyan", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%onest-400 {
  font-family: "Onest", sans-serif;
  font-weight: 400;
  font-style: normal;
}

%onest-500 {
  font-family: "Onest", sans-serif;
  font-weight: 500;
  font-style: normal;
}

%onest-700 {
  font-family: "Onest", sans-serif;
  font-weight: 700;
  font-style: normal;
}

%sphscript {
  font-family: "SignPainter-HouseScript", sans-serif;
  font-style: normal;
}